.footer-component {
  i {
    margin-right: 5px;
  }
  .footer-summary {
    .footer-logo {
      i {
        color: $cyan;
        font-size: 2rem;
      }
      border-bottom:1px solid $gray-300;
      margin-bottom:5px;
    }
    .footer-slogan {
    }
  }

  .footer-links {
    font-size: 0.8rem;
    .footer-links-title {
      font-weight: 700;
      font-size: 1rem;
    }
  }
}