<div class="fragment-container">
    <div oc-lazy-load="['style/css/pages/contact-us.css']">
        <div class="container">
        <div class="contact-us-container">
            <div class="store-guide">商家指南</div>
            <div class="store-guide-video">
                <div class="store-guide-videoimg clearfix"><img src="style/images/video.png"/></div>
                <div class="wenzi">
                    <h4>商家上传视频</h4>
                    <p>商家上传视频，分享到惠券中</p>
                </div>
                <div class="store-guide-dashed"><img src="style/images/dashed01.png"/></div>
            </div>
            <div class="store-guide-coupon">
                <div class="wenzi">
                    <h4>设置优惠券</h4>
                    <p>商家设置优惠券，供顾客领取</p>
                </div>
                <div class="store-guide-couponimg"><img src="style/images/coupon.png"/></div>
            </div>
            <div class="store-guide-publish">
                <div class="store-guide-dashed02"><img src="style/images/dashed02.png" /></div>
                <div class="store-guide-publishvideo"><img src="style/images/publish.png" /></div>
                <div class="wenzi">
                    <h4>发布视频</h4>
                    <p>在惠券上发布短视频</p>
                </div>
            </div>
            <div class="store-user">用户</div>
            <div class="store-guide-receive">
                 <div class="store-guide-receivecoupon"><img src="style/images/receivecoupon.png" /></div>
                <div class="wenzi">
                    <h4>领取优惠券</h4>
                    <p>用户观看视频领取优惠券</p>
                </div>
                <div class="store-guide-dashed03"><img src="style/images/dashed03.png" /></div>
            </div>
            <div class="store-guide-update">
                <img src="style/images/map.png" />
                <h4>转发视频升级优惠券</h4>
                <p>用户转发视频立即升级优惠券</p>
            </div>
            <div class="store-guide-agent">
                <h4>申请本地代理</h4>
                <p>请联系：<a href="tel:18621050303">18621050303</a></p>
            </div>
            <div class="store-guide-enter">
                <h4>商家入驻</h4>
                <p>请联系：<a href="tel:400-109-7889">400-109-7889</a></p>
            </div>

        </div>
        </div>
    </div>
</div>
</div>