<div oc-lazy-load="['module/StoreDataController']">
    <div class="row" ng-controller="StoreDataController">
        <div class="main a-fadeinR">
            <h1 class="page-header">商户数据</h1>
            <div class="row">
                <h2>商户数据走势图</h2>
                <div class="col-xs-12">
                    <div id="agent-store-data"></div>
                </div>
            </div>
            <div class="row">
                <h2>优惠券走势图</h2>
                <div class="col-xs-12">
                    <div id="agent-coupon-data"></div>
                </div>
            </div>
        </div>
    </div>
</div>