.sidebar-component {
  z-index: 1000;
  position: relative;
  height: 100%;
  .menu-group {

    margin: 0;
    padding: 0;
    position: relative;

    &:hover {
      .menu-selector {
        display: block;
      }
      .menu-group-item {
        background: $gray-900;
        color: $cyan;
      }
      .sub-menu-group {
        display: flex;
      }
    }

    /*向左*/
    .menu-selector {
      width: 0;
      height: 0;
      border-width: 20px 20px 20px 0;
      border-style: solid;
      border-color: transparent $dark transparent transparent;
      position: absolute;
      left: $sidebar-width - 20px;
      top: 5px;
      display: none;
    }

    .menu-group-item {
      cursor: pointer;
      line-height: 50px;
      padding: 0 0 0 10px;
    }
    .sub-menu-group {
      position: absolute;
      top: 0;
      left: $sidebar-width;
      margin: 0;
      padding: 0 10px;
      background: $dark;
      display: none;
      .sub-menu-group-col {
        width: $sidebar-width;
        .sub-menu-group-item {
          cursor: pointer;
          line-height: 50px;
          text-indent: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $gray-300;
          &:hover {
            background: $gray-900;
            color: $cyan;
          }
        }
      }
    }

  }

}