// default
.app-container .layout-container.layout-default .view-container {
  .title-container {
    background: $light;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }
  .form-container {
    background: $light;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }
  .condition-container {
    background: $light;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
  }
  .grid-container {
    background: $light;
    padding: 1rem 1rem;
  }

}

// screen
.app-container .layout-container.layout-screen .view-container {
}