// Bootstrap extend & override
body {
  font-family: "MicroSoft YaHei", "Hiragino Sans GB";
  //font-size: 0.8rem;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

i, cite, em, var, address, dfn {
  // override italic
  font-style: normal;
}

// bootstrap validation
.is-valid {
  .form-control, .custom-select, .custom-file-input, .custom-file-label {
    border-color: #28a745 !important;
  }
  .form-check-label, .custom-control-label {
    color: #28a745 !important;
  }
  .valid-feedback {
    display: block !important;
  }
  & ~ .valid-feedback {
    display: block !important;
  }
  .invalid-feedback {
    display: none !important;
  }
}

.is-invalid {
  .form-control, .custom-select, .custom-file-input, .custom-file-label {
    border-color: #dc3545 !important;
  }
  .form-check-label, .custom-control-label {
    color: #dc3545 !important;
  }
  .valid-feedback {
    display: none !important;
  }
  & ~ .valid-feedback {
    display: none !important;
  }
  .invalid-feedback {
    display: block !important;
  }
}

// mce-tinymce mce-container
.is-valid {
  .mce-tinymce.mce-container {
    border-color: #28a745 !important;
  }
}

.is-invalid {
  .mce-tinymce.mce-container {
    border-color: #dc3545 !important;
  }
}

// fixed bug bootstrap-vue checkbox validator
.custom-control.custom-checkbox ~ .valid-feedback,
.custom-control.custom-checkbox ~ .form-text {
  padding-left: 1.5rem;
}

// mavon-editor fullscreen
.v-note-wrapper {
  z-index: 999 !important;
  &.fullscreen {
    z-index: 1000 !important;
  }
}

// bootstrap-datetimepicker fixed depends bootstrap v3
.datetimepicker {
  .glyphicon {
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    &.glyphicon-arrow-left:before {
      content: "\f060";
    }
    &.glyphicon-arrow-right:before {
      content: "\f061";
    }
  }
}