.qr-code-top p{font-size:18px;color:#325779;margin-top:74px;text-align:center;}
.qr-code-top h4{font-size:16px;color:#325779;margin-top:28px;text-align:center;}
.qr-code-border{height:186px;width:282px;border:1px solid #325779;border-radius:10px;margin:28px auto;}
.qr-code-border img{margin:14px 0 12px 16px;}