.business .business-contain .store-thumbnail {
    height: 191px;
    width: 100%;
}

.business .business-contain .detail-img {
    height: 293px;
    width: 100%;
}

/*.business .business-contain .business-item {*/
/*position: relative;*/
/*}*/

.business .business-contain .business-item .caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.85));
    display: table;
}

.business .business-contain .business-item .store-name-detail {
    float: left;
    padding: 12px 0 12px 12px;
    width: 50%;
}

.business .business-contain .business-item .store-name-detail .store-name {
    color: #1a1a1a;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 16px;
    padding-bottom: 7px;
}

.business .business-contain .business-item .store-name-detail .icon-feature {
    color: #ff7b00;
    float: left;

    font-size: 18px;
}

.business .business-contain .business-item .store-name-detail .store-feature {
    font-size: 12px;
    margin-top: -20px;
    color: #5f5f5f;
    padding-left: 23px;
}

.business .business-contain .business-item .store-name-detail .icon-money {
    color: #ff7b00;
    float: left;
    font-size: 18px;
    padding-left: 24px;
}

.business .business-contain .business-item .store-name-detail .store-money {
    font-size: 12px;
    margin-top: -20px;
    color: #5f5f5f;
    padding-left: 23px;
}

.business .business-contain .business-item .receive-coupon {
    background-color: #ff7b00;
    color: #fff;
    border-radius: 39px 0 0 46px;
    float: right;
    margin: 12px 0 25px 0;
    text-align: center;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 13px;
}

.business .business-contain .store-contain .business-store {
    padding: 12px 0px 6px 10px;
    font-size: 18px;
    position: relative;
    word-break: break-all;
    max-width: 46%;
}

.business .business-contain .store-contain .business-store .icon-mobile {
    position: absolute;
    top: 18px;
    left: 23px;
}

.business .business-contain .store-contain .business-store .iconfont {
    font-size: 18px;
    color: #ff7b00;
    padding-right: 6px;
}

.business-store-name {
    color: #1a1a1a;
}

.business .business-contain .business-item .business-detail {
    border-top: 2px solid #e2e7f2;
    border-bottom: 2px solid #e2e7f2;
    color: #ff7b00;
    position: relative;
}

.business .business-contain .business-item .store-phone {
    text-align: center;
    line-height: 48px;
}

.business .business-contain .business-item .store-phone .iconfont {
    font-size: 20px;
    color: #ff7b00;
}

.business .business-contain .business-item .store-phone a {
    color: #5f5f5f;
}

.business .business-contain .business-item .store-phone a:focus, .business .business-contain .business-item .store-phone a:hover {
    text-decoration: none;
}

.business .business-contain .business-item .store-phone .icon-mobile {
    position: absolute;
    left: 20px;
    bottom: 25px;
}

.business .business-contain .store-contain {
    margin: 0;
    color: #5f5f5f;

}

.business .business-contain .business-item-time {
    position: absolute;
    right: 10px;
    bottom: 4px;
    color: #fff;
    font-size: 12px;
    padding: 6px;
    background: #000000;
    line-height: 12px;
    border-radius: 4px;
}

.business .business-contain .store-detail .store-detail-img {
    width: auto;
    height: auto;
    position: absolute;
    top: 123px;
    left: 50%;
    transform: translate(-50%);
}

.business .business-contain .store-detail-title {
    padding: 12px 8px 12px 9px;
    /*border-bottom: 1px solid #406b94;*/
    color: #1a1a1a;
    font-size: 20px;
    position: relative;
    word-break: break-all;
}

.business .business-contain .store-detail-describe {
    padding: 23px 8px 23px 9px;
    color: #5f5f5f;
    border-bottom: 1px solid #e2e7f2;
    word-break: break-all;
}

.business .business-contain .store-detail-info {
    padding: 25px 8px 24px 9px;
    color: #5f5f5f;
    position: relative;
    word-break: break-all;
    line-height: 30px;
}

.business .business-contain .store-detail-info a {
    color: #5f5f5f;
    padding-bottom: 80px;
    padding-top: 9px;
}

.business .business-contain .store-detail-info .icon-address {
    position: absolute;
    top: 25px;
    left: 9px;
    font-size: 14px;
}

.business .business-contain .store-detail-info .icon-mobile {
    position: absolute;
    bottom: 24px;
    left: 9px;
    font-size: 14px;
}

.business .business-contain .store-detail-title .store-detail-vope {
    position: absolute;
    top: 13px;
    right: 9px;
    font-size: 12px;
    color: #325779;
    padding: 3px 5px 3px 7px;
    background: #75addc;
    border-radius: 4px;
}

.business .business-contain .store-detail-title .iconfont {
    padding-right: 3px;
    color: #325779;
}

.business .business-contain .store-detail-button {
    text-align: center;
    padding: 15px;
}

.business .business-contain .store-detail-button .btn-receive {
    background: #c1c1c1;
}

.business .business-contain .store-detail-button .store-detail-init {
    padding-top: 10px;
    margin: 0;
    font-size: 15px;
    color: #337ab7;
}

.business .business-contain .store-detail-button .receive {
    background: #20b5ff;
    border: none;
    color: #fff;
    padding: 10px 26px;
    font-size: 15px;
    outline: none;
}

.business .business-contain .text-center .loading {
    width: 20px;
}

.detail-footer {
    height: 55px;
    background: url("/style/images/yellow-bg.png") no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    color: #d7335f;
    line-height: 55px
}

.detail-footer-cen {
    width: 295px;
    height: 55px;
    margin: 0 auto;
}

.detail-footer-cen .detail-footer-icon {
    font-size: 26px;
}

.detail-footer-cen .detail-footer-number {
    font-size: 44px;
}

.detail-footer-cen .detail-footer-content {
    font-size: 10px;
    padding-top: 14px;
    border-left: 1px dashed #E4D51B;
    color: rgba(215, 51, 95, 0.62);
    line-height: 14px;
    margin-right: 5px;
    padding-left: 5px;
}

.detail-footer-cen .detail-footer-receive {
    color: #fff;
    font-size: 18px;
    height: 33px;
    background: #d7335f;
    border-radius: 2px;
    padding: 0 9px;
    margin-top: -28px;
}

.detail-footer-cen.detail-footer-coupon {
    font-size: 16px;
}

.store-list {
    position: relative;
}

.store-list .business-item .icon-play02 {
    position: absolute;
    top: 72px;
    left: 50%;
    font-size: 48px;
    color: #fff;
    transform: translate(-50%);
    line-height: 48px;
}

.store-list .store-list-title {
    height: 42px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

.video-layout {
    position: relative;
}

.store-coupon:hover, .store-coupon:focus {
    color: #fff;
    text-decoration: none;
}

.follow {
    height: 55px;
    background: #ff7b00;
    width: 100%;
    color: #fff;
    line-height: 55px;
    z-index: 10;
}

.follow .footer-follow {
    padding-left: 10px;
}

.follow .follow-btn {
    background: #fff;
    color: #fff;
    border: none;
    margin: 13px 9px 0 0;
    font-size: 15px;
    width: 72px;
    height: 32px;
    color: #ff7b00;
}

.follow .active {
    color: #ff7b00 !important;
}

.follow .follow-btn .iconfont {
    font-size: 14px;
    padding-right: 3px;
}

.text-center .btn-load img {
    width: 20px;
}

.btn-load {
    color: #8792A4;
}

.store-empty {
    padding-top: 25%;
    text-align: center;
    color: #8792A4;
    font-size: 14px;
}

.store-empty .iconfont {
    font-size: 30px;
}

.store-empty .empty-font {
    padding-bottom: 27px;
    color: #8792A4;
}

.panel-head-normal {
    background-color: #ff7b00; /*未使用橙色 */
}

.panel-head-upgraud {
    background-color: #8792a4; /*已使用灰色 */
}

.store-coupon {
    width: 38.4%;
    background: #ff7b00;
    border-radius: 39px 0 0 50px;
    text-align: center;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.store-coupon-normal {
    font-size: 14px;
    padding-top: 9px;
}

.store-coupon-forwarded {
    font-size: 10px;
    padding-bottom: 9px;
}

.store-vote {
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    min-width: 20px;
}

.store-vote .iconfont {
    font-size: 18px;
    color: #ff7b00;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 3px;
}

.store-vote a {
    color: #ff7b00;
    text-decoration: none;
}

.store-type {
    font-size: 12px;
    color: #5f5f5f;
    line-height: 18px;
    padding-top: 6px;
    padding-bottom: 12px;
}

.store-time {
    color: #fff;
    font-size: 14px;
    width: 68px;
    border-radius: 4px;
    background: #ff7b00;
    margin: 12px 0 12px 10px;
    padding: 4px 6px 4px 6px;
}

.store-time-detail {
    padding: 0 7px 12px 13px;
    line-height: 26px;
}

.store-type .icon-money {
    padding-left: 22px;
}

.store-address {
    border-right: 1px solid #e2e7f2;
    margin: 12px 0 12px 0px;
    padding-left: 35px;
    position: relative;
    word-break: break-all;
}

.store-nothing {
    height: 191px;
    text-align: center;
    line-height: 191px;
    border-bottom: 2px solid #e2e7f2;
}

.store-address .iconfont {
    font-size: 18px;
    color: #ff7b00;
    padding-right: 9px;
    position: absolute;
    margin-left: -25px;
    margin-top: -3px;
}

.store-recommend-none {
    height: 191px;
    line-height: 191px;
}

.store-dish-recommend {
    text-align: center;
    padding-top: 10px;
}

.follow .follow-coupon {
    background: #ff7b00;
    color: #fff;
}

.store-dish-recommend .swiper-container {
    width: 100%;
    height: 191px;
    z-index: 0;
}

.store-dish-contain {
    border-top: 2px solid #e2e7f2;
}
